/* 공통 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* 헤더 고정 확인용 최소 높이 지정 */
  min-height: 110vh;
}

/* PC 버전 */
@media (min-width: 769px) {

  main {
    margin: 0 235px;
    height: auto;
  }

  .line1_rules {
    border-top: 3px solid #000080;
    margin-bottom: 10px;

  }
  
  .rules_title {
    margin-top: 30px;
  }

  .rules_title p {
    font-size: 28px;
    font-weight: bold;
    display: inline;
    padding-bottom: 100px;
  }


  .rules_gicho {
    margin-top: 30px;
  }

  .rules_gicho p:first-child {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .rules_gicho p:last-child {
    font-size: 20px;
  }



  .rules_list {
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .rules_list p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .rules_list ul {
    margin-left: 30px;
    font-size: 20px;
  }



  .rules_position {
    margin-top: 50px;
    height: auto;
  }

  .rules_position>.position_text {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
  }

  .field_all {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

  }

  .field_img {
    flex: 1 1 40%;
    position: relative;
    aspect-ratio: 1/1;
  }

  .field_img img {
    width: 100%;
    height: auto;
    position: absolute;
    inset: 0;

    object-fit: cover;
    display: block;
  }

  .field_info {
    flex: 1 1 40%;
  }

  .field_info table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    height: 70%
  }

  .field_info td {
    border: 1px solid #ccc;
    padding: 10px 15px;
    line-height: 1.5;
  }

  .field_info table tr>td:first-child {
    text-align: center;
    font-weight: bold;
    width: 30%;
  }
}

/*모바일*/

@media (max-width: 768px) {
  main {
    margin: 0 20px;
    height: auto;
  }

  .rules_title {
    margin-top: 20px;
  }

  .line1_rules {
    
    border-top: 3px solid #000080;
    width: 100%;         
    display: block;       
    height: 0;
    margin-top: 5px;
    margin-bottom: 5px;

  }

  .rules_title p {
    font-size: 28px;
    font-weight: bold;
    display: inline;
    padding-bottom: 100px;
  }


  .rules_gicho {
    margin-top: 30px;
  }

  .rules_gicho p:first-child {
    font-size: 25px;
    font-weight: bold;
  }

  .rules_gicho p:last-child {
    font-size: 16px;
  }


  .rules_list {
    margin-top: 40px;
    font-size: 22px;
    margin-bottom: 30px;
  }

  .rules_list p {
    font-size: 25px;
    font-weight: bold; 
  }

  .rules_list ul {
    margin-left: 20px;
    font-size: 16px;
    
  }

  .rules_position {
    margin-top: 40px;
    height: auto;
  }

  .rules_position>.position_text {
    font-size: 25px;
    font-weight: bold;
    width: 100%;
  }


  /*사진, 표 */
  .field_all {
    justify-content: center;
    align-items: center;
  }

  .field_img {
    width: 100%;
    display: block;
    
  }

  .field_img img {
    width: 100%;
    height: auto;
    display: block;
  }

  .field_info table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
  }

  .field_info td {
    border: 1px solid #ccc;
    padding: 10px 10px;
    line-height: 1.5;
  }

  .field_info table tr>td:first-child {
    text-align: center;
    font-weight: bold;
    width: 28%;
  }
}