/* 공통 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 110vh;
}

/* PC 버전 */
@media (min-width: 769px) {
  main {
    margin: 0 20px;
    height: 200px;
  }

  .legend{
    margin-top: 30px;
    
  }
  .legnedPlayer, .winText{
    grid-column: 1 / -1;
  }
  .legnedPlayer p, .winText p{
    font-size: 28px;
    font-weight: bold;
    display: block;
    margin-top: 28px;
  }

  .legend, .win_year{
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    gap: 20px;
    justify-content: flex-start;
  }

  .win_year{
    margin-top: 30px;
  }

  .legend_player, .winPic{
    width: 220px;
    height: 270px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
  }

  .legend_player:hover {
    border: 3px solid red;
    cursor: pointer;
  }

  .legend_player img, .winPic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 10%;
    background-color: #fff;
  }

  .legend_player .info, .winPic .info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;

    opacity: 1;
  }
}



/*모바일 버전*/
@media (max-width: 768px) {
  main{
    box-sizing: border-box;
    overflow: hidden;
  }

  .legend{
    margin-top: 20px;
  }
  .legnedPlayer, .winText{
    grid-column: 1 / -1;
  }

  .legnedPlayer p, .winText p{
    font-size: 28px;
    font-weight: bold;
    display: block;
    margin-top: 20px;
  }

  .legend, .win_year{
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
    gap: 15px;
    justify-content: center;
  }

  .legend_player, .winPic{
    width: 160px;
    height: 210px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
  }

  .legend_player:hover {
    border: 3px solid red;
    cursor: pointer;
  }

  .win_year{
    margin-top: 20px;
  }

  .legend_player img, .winPic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 10%;
    background-color: #fff;
  }

  .legend_player .info, .winPic .info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    

    opacity: 1;

  }
}